.browse-index-container {
  padding: 10px;
}

.browse-index-container h3 {
  text-align: center;
}

.list-alphabetical {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.browser-index-links {
  color: #000;
  text-decoration: none;
  padding: 0 5px;
}
