.browse-index-container {
  padding: 10px;
}

.list-alphabetical {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.browse-index-links {
  color: #000;
  text-decoration: none;
  padding: 0 5px;
  font-size: 4px;
}

.browse-index-links:hover {
  color: #6b0646;
}

@media only screen and (min-width: 321px) {
  .browse-index-links {
    font-size: 0.4em;
  }
}

@media only screen and (min-width: 426px) {
  .browse-index-links {
    font-size: 0.64em;
  }
}

@media only screen and (min-width: 576px) {
  .browse-index-links {
    font-size: initial;
  }
}
