.category-select-container {
  text-align: center;
}

.category-span {
  font-size: 10px;
  padding-right: 10px;
}

.category-select {
  padding: 5px;
  background-color: lightblue;
  font-size: 10px;
}

.category-select:focus-within {
  border: none;
  outline: none;
}

@media only screen and (min-width: 321px) {
  .category-span {
    font-size: 12px;
  }

  .category-select {
    font-size: 12px;
  }
}

@media only screen and (min-width: 576px) {
  .category-select-container {
    position: absolute;
    top: 2em;
    right: 2em;
  }
}
