/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(119, 114, 114);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99);
}

.details-container {
  background-color: #ffeaf8;
  padding: 10px 0;
}

.details-image-container {
  width: 100%;
  object-fit: contain;
  margin-bottom: 0.5em;
}

.details-image {
  border-radius: 7px;
  width: 100%;
}

.details-description {
  border-top: 1px solid red;
  background-color: #f9dff08f;
  padding-top: 0.5em;
  width: 100%;
  overflow: auto;
}

.details-description >h1 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.details-description > .instructions {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.detail-fields {
  background-color: #cfa6c3ba;
  padding: 5px 0 5px 15px;
  margin: 4px 0;
}

td,
th {
  background-color: #cfa6c3ba;
  width: 100%;
  padding: 5px;
}

th:first-child {
  border: none;
}

.small-col {
  width: 5%;
}

.last-col {
  width: 50%;
}

.instructions {
  margin: 10px 1px 1px;
  overflow: auto;
  background-color: #cfa6c3ba;
  padding: 5px;
  line-height:180%;
}

@media only screen and (min-width: 576px) {
  .details-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 200px);
  }
  
  .details-image-container {
    width: 45%;
    margin-right: 10px;
    object-fit: contain;
  }
  
  .details-image {
    border-radius: 7px;
    width: 75%;
  }
  
  .details-description {
    border-left: 1px solid red;
    background-color: #f9dff08f;
    width: 45%;
    margin-left: 10px;
    padding: 20px;
    overflow: auto;
  }
}

@media only screen and (min-width: 768px) {
  .details-description {
    border-top: none;
  }
}