/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(119, 114, 114);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99); 
}

.details-container {
  display: flex;
  justify-content: center;
  background-color: #bb7b3b;
  padding: 10px 0;
  height: calc(100vh - 200px);
}

.details-image-container {
  width: 45%;
  margin-right: 10px;
  object-fit: contain;
}

.details-image {
  border-radius: 8px;
  width: 75%;
}

.details-description {
  border: 3px solid red;
  border-radius: 8px;
  background-color: #dad557d9;
  width: 45%;
  margin-left: 10px;
  padding: 20px;
  overflow:  auto;
}

.detail-fields {
  background-color: #bb7b3b;
  padding: 5px 0 5px 15px;
  margin: 4px 0;
}

td,
th {
  background-color: #bb7b3b9a;
  width: 100%;
  padding: 5px;
}

th:first-child {
  border: none;
}

.small-col {
  width: 5%;
}

.last-col {
  width: 50%;
}

.instructions {
  overflow: auto;
}