/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(119, 114, 114);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99);
}

.details-container {
  display: flex;
  justify-content: center;
  background-color: #ffeaf8;
  padding: 10px 0;
  height: calc(100vh - 200px);
}

.details-image-container {
  width: 45%;
  margin-right: 10px;
  object-fit: contain;
}

.details-image {
  border-radius: 8px;
  width: 75%;
}

.details-description {
  border-left: 1px solid red;
  background-color: #f9dff08f;
  width: 45%;
  margin-left: 10px;
  padding: 20px;
  overflow: auto;
}

.detail-fields {
  background-color: #cfa6c3ba;
  padding: 5px 0 5px 15px;
  margin: 4px 0;
}

td,
th {
  background-color: #cfa6c3ba;
  width: 100%;
  padding: 5px;
}

th:first-child {
  border: none;
}

.small-col {
  width: 5%;
}

.last-col {
  width: 50%;
}

.instructions {
  margin: 10px 1px 1px;
  overflow: auto;
  background-color: #cfa6c3ba;
  padding: 5px;
  line-height:180%;
}
