.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: lightblue;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.footer-left {
  width: 50%;
  font-size: 10px;
}

.name {
  color: #6b0646;
  font-size: 12px;
  font-weight: normal;
}

.footer-right {
  position: absolute;
  right: 20px;
}

.footer-icons {
  color: black;
  padding: 0 10px;
  font-size: 16px;
}

@media only screen and (min-width: 376px) {
  .footer {
    height: 28px;
  }

  .footer-left {
    font-size: 12px;
  }

  .name {
    font-size: 14px;
  }

  .footer-icons {
    font-size: 20px;
  }
}
