.navbar-container {
  text-align: center;
  border-bottom: 1px solid red;
}

.banner a {
  font-size: 2rem;
  color: #45cccc;
  letter-spacing: 1px;
  text-decoration: none;
}

.slogan {
  font-size: 8px;
  text-align: right;
  width: 97%;
  color: #6b0646;
  padding-bottom: 3px;
}

@media only screen and (min-width: 321px) {
  .banner a {
    font-size: 2.5rem;
  }

  .slogan {
    font-size: 10px;
  }
}

/* @media only screen and (min-width: 576px) {
  .navbar-container {
    width: 23%;
  }
} */
