.navbar-container {
  width: 30%;
}

.banner a {
  font-size: 3rem;
  color: #45cccc;
  letter-spacing: 1px;
  text-decoration: none;
}

.slogan {
  font-size: 10px;
  text-align: right;
  width: 80%;
  color: #6b0646;
}
